.navbar {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  height: 50px;
  object-fit: contain;
  margin-right: -5px;
}

.navbar__title {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: center;
}

.navbar__img {
  height: 40px;
  object-fit: contain;
  border-radius: 20px;
}

.nav__title {
  font-size: 26px;
  margin-left: 10px;
  margin-top: -5px;
  font-weight: 600;
  text-decoration: none;
  color: #162c5b;
}

.navbar__right {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__link {
  text-decoration: none;
  margin-left: 30px;
  padding: 5px;
  border: 2px solid #b4dcfc;
  width: 140px;
}

.nav__link:hover {
  border: 2px solid #138dff;
}

.nav__link > h2 {
  color: #162c5b;
  font-weight: 600;
  font-size: 20px;
}

.nav__link > p {
  color: #162c5b;
  font-weight: 500;
  font-size: 14px;
}
